<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.siteapp"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SITEAPP"
        tools:ignore="AllowBackup">
        <activity
            android:name=".onboarding"
            android:exported="true" />
        <activity
            android:name=".menuOnboarding"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".oanbording"
            android:exported="true"/>

        <activity
            android:name=".interfaz_consultar"
            android:exported="true" />
        <activity
            android:name=".interfaz_estado_user"
            android:exported="true" />
        <activity
            android:name=".interfaz_graficoN"
            android:exported="true" />
        <activity
            android:name=".interfaz_mostrar_incidencias_usuario"
            android:exported="true" />
        <activity
            android:name=".interfaz_suge_detalle"
            android:exported="true" />
        <activity
            android:name=".interfaz_noti_detalle"
            android:exported="true" />
        <activity
            android:name=".interfaz_aviso"
            android:exported="true" />
        <activity
            android:name=".interfaz_notificaciones"
            android:exported="true" />
        <activity
            android:name=".graficos"
            android:exported="true" />
        <activity
            android:name=".interfaz_estado"
            android:exported="true" />
        <activity
            android:name=".interfaz_mostrar_graficas"
            android:exported="true" />
        <activity
            android:name=".interfaz_envio_notificacion"
            android:exported="true" />
        <activity
            android:name=".interfaz_sugerencia"
            android:exported="true" />
        <activity
            android:name=".interfaz_mostrar_incidencias_tecnicas_nivel_usuario"
            android:exported="true" />
        <activity
            android:name=".interfaz_mostrar_incidencias_nivel_tecnico"
            android:exported="true" />
        <activity
            android:name=".interfaz_tecnico_usuario"
            android:exported="true" />
        <activity
            android:name=".departamento_tecnico"
            android:exported="true" />
        <activity
            android:name=".interfaz_dependiente"
            android:exported="true" />
        <activity
            android:name=".interfaz_tecnico"
            android:exported="true" />
        <activity
            android:name=".departamento_administrativo"
            android:exported="true" />
        <activity
            android:name=".interfaz_usuario"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>